html, body {
    margin: 0;
    height: 100%;
    background: radial-gradient(circle 100vw at center, #323232 0%, #211b1b 100%);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background: radial-gradient(circle 100vw at center, #323232 0%, #211b1b 100%);
}

#copyright{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
    color: #cccccc;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    a {
        color: #F9A825;
    }
}


