@media (max-width: 800px) {
    #title-container {
        width: 100% !important;
    }

    #title-content {
        gap: 3rem !important;
    }

    #title {
        margin-left: 3%;
    }

    #shirt-img {
        max-width: 40% !important;
        object-fit: cover;

        justify-self: right;
        padding: 0 !important;
        rotate: 10deg;
    }

    #nav {
        justify-self: center;
    }
}