@media (max-width: 800px) {
    #container {
    }
    #title-container {
        width: 100% !important;
    }

    #title-content {
        width: 100% !important;
        flex-wrap: wrap !important;
        display: flex !important;

        justify-content: center !important;

        gap: 1rem!important;
    }

    #title {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        margin: 0 auto !important;
        width: inherit !important;
        text-align: center !important;
    }



    #shirt-img {
        max-width: 40% !important;
        object-fit: cover;

        padding: 0 !important;
        rotate: -10deg !important;
    }

    #nav {
        width: 100% !important;
        margin-top: 2rem !important;
        justify-self: center !important;
    }

    #nav-content {
        display: flex !important;
        justify-content: center !important;
    }

    #nav-item {
        padding: 3% !important;
    }
}